.gig {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: sticky;
  gap: 20px;
  top: 120px;
  padding: 20px;
}

.breadcrumps {
  font-weight: 300px;
  font-size: 13px;
  color: rgb(149, 157, 221);
}
.user {
  align-items: center;
  gap: 20px;
}

.pp {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.user > span {
  font-size: 14px;
  font-weight: 500;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.slider {
  max-width: 46rem;
  object-fit: contain;
  
}
h2 {
  font-size: 400;
}
p {
  font-weight: 300;
  color: rgb(24, 10, 10);
  line-height: 25px;
}

.seller {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seller > .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.seller > .user > img {
  width: 100px;
  height: 100px;
  border: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
}

.box {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 20px;
}
.title {
  font-weight: 400;
}

.reviews {
  margin-top: 20px;
}

.user-pp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.country {
  display: flex;
  align-items: center;
  color: gray;
  gap: 10px;
}

.country > img {
  width: 30px;
}
.helpful {
  display: flex;
  align-items: center;
  gap: 10px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price > h3 {
  font-weight: 400;
}

.price > h2 {
  font-weight: 700;
  color: brown;

  font-size: larger;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-item,
.time,
.revesion {
  display: flex;
  align-items: center;
  gap: 7px;
}
